.image-field {
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 1000px;
  /* width: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100em 50em;
  position: relative;
}

#date-created {
  margin-right: 1em;
}

#location {
  margin-right: 87.5em;
}

#photographer {
  padding: 1em;
  font-style: italic;
  font-family: cursive;
}

.both {
  margin-top: 56em;
  display: inline-flex;
  font-style: italic;
  font-family: cursive;
  font-weight: bolder;
}

.bottom-field {
  margin-top: 56em;
  padding: 1em;
}

.box {
  border: 2px solid black;
  margin: 1em;
  margin-top: 2em;
}

.body {
  margin-top: 2em;
  margin-left: 1em
}

h3, h6 {
  text-align: left;
}

h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h6 {
  font-family: fantasy;
  font-size: large;
}
