<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand m-2" routerLink="/images">Gallery</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link m-2"
          routerLink="/image-of-day"
          routerLinkActive="active"
          >Image of the day <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2"
          routerLink="/technology"
          routerLinkActive="active"
          >Technology</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link m-2" routerLink="/mars" routerLinkActive="active"
          >Mars images</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2"
          routerLink="/technology"
          routerLinkActive="active"
          tabindex="-1"
          aria-disabled="true"
          >Epic</a
        >
      </li>
    </ul>
  </div>
</nav>
